<div class="container">
    <div class="row">
        <div class="card col">
            <div class="titulo-competencia">
                <p>PRIMERA DIVISION ARGENTINA</p>
                <p class="card-fecha">FECHA 1</p>
            </div>
    
            <div class="nombre-equipo container">
    
                <div class="row">
                    <div class="col logo-team">
                        <img src="../../../../assets/images/HYT-IESA.png" height="60" width="60">
                        <p class="name-team"><strong>Hacha y tiza</strong></p>
                    </div>

                    <div class="col">
                        <h6>3</h6>
                    </div>
    
                    <div class="col">
                        <h5>VS</h5>
                    </div>

                    <div class="col">
                        <h6>2</h6>
                    </div>
    
                    <div class="col logo-team">
                        <img src="../../../../assets/images/HYT-IESA.png" height="60" width="60">
                        <p class="name-team"><strong>BARRACAS</strong></p>
                    </div>
                </div>
    
            </div>
    
        </div>

        <div class="card col" style="width: 18rem;">
            <div class="titulo-competencia">
                <p>PRIMERA DIVISION ARGENTINA</p>
                <p class="card-fecha">FECHA 1</p>
            </div>
    
            <div class="nombre-equipo container">
    
                <div class="row">
                    <div class="col logo-team">
                        <img src="../../../../assets/images/HYT-IESA.png" height="60" width="60">
                        <p class="name-team"><strong>Hacha y tiza</strong></p>
                    </div>
    
                    <div class="col">
                        <h6>3</h6>
                    </div>
    
                    <div class="col">
                        <h5>VS</h5>
                    </div>

                    <div class="col">
                        <h6>2</h6>
                    </div>
    
                    <div class="col logo-team">
                        <img src="../../../../assets/images/HYT-IESA.png" height="60" width="60">
                        <p class="name-team"><strong>BARRACAS</strong></p>
                    </div>
                </div>
    
            </div>
    
        </div>

        <div class="card col" style="width: 18rem;">
            <div class="titulo-competencia">
                <p>PRIMERA DIVISION ARGENTINA</p>
                <p class="card-fecha">FECHA 1</p>
            </div>
    
            <div class="nombre-equipo container">
    
                <div class="row">
                    <div class="col logo-team">
                        <img src="../../../../assets/images/HYT-IESA.png" height="60" width="60">
                        <p class="name-team"><strong>Hacha y tiza</strong></p>
                    </div>
    
                    <div class="col">
                        <h6>3</h6>
                    </div>
    
                    <div class="col">
                        <h5>VS</h5>
                    </div>

                    <div class="col">
                        <h6>2</h6>
                    </div>
    
                    <div class="col logo-team">
                        <img src="../../../../assets/images/HYT-IESA.png" height="60" width="60">
                        <p class="name-team"><strong>BARRACAS</strong></p>
                    </div>
                </div>
    
            </div>
    
        </div>
    </div>
</div>
