<div class="margin-table-home container">
    <div class="row">
        <div class="col">

            <div class="transmi">
                <h5 style="color: white">Transmisiones</h5>
            </div>
            
            <iframe width="800" height="300"
            src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
        </div>

        <!-- <div class="card col">
            <div class="card-header">
                <p>PRIMERA DIVISION ARGENTINA</p>
            </div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Pos</th>
                    <th scope="col">Equipo</th>
                    <th scope="col">Puntos</th>
                    <th scope="col">Diferencia de gol</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Hacha y tiza eSports</td>
                    <td>22</td>
                    <td>+10</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Hacha y tiza eSports</td>
                    <td>22</td>
                    <td>+10</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Hacha y tiza eSports</td>
                    <td>22</td>
                    <td>+10</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Hacha y tiza eSports</td>
                    <td>22</td>
                    <td>+10</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Hacha y tiza eSports</td>
                    <td>22</td>
                    <td>+10</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Hacha y tiza eSports</td>
                    <td>22</td>
                    <td>+10</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Hacha y tiza eSports</td>
                    <td>22</td>
                    <td>+10</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Hacha y tiza eSports</td>
                    <td>22</td>
                    <td>+10</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Hacha y tiza eSports</td>
                    <td>22</td>
                    <td>+10</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Hacha y tiza eSports</td>
                    <td>22</td>
                    <td>+10</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Hacha y tiza eSports</td>
                    <td>22</td>
                    <td>+10</td>
                  </tr>
                </tbody>
            </table>
        </div> -->
    </div>
</div>
