img.logo-header{
    width: 130px;
    height: 100px;
}

img.logo-redes-header{
    margin-top: 10px;
    width: 20px;
    height: 20px;
    margin-left: -20px;
}

.font-social{
    font-family: sans-serif;
    font-size: 12px;
    color: white;
    margin-top: 10px;
}

.margin-social{
    margin-left: -100px;
    margin-right: -100px;
}

.redes-header{
    padding-left: 100px;
    padding-right: 100px;
}

.menu-header{
    margin-top: 40px;
    margin-left: 5px;
    margin-right: 5px;
}

div.logo-position{
    position: relative;
    top: 40%;
}

.fondo {
    opacity: 100%;
    /* background-color: rgb(83, 10, 10); */
    background-color: #133153;
}

.bar-nav-social{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: transparent;
}

.font-nav{
    font-size: 12px;
    margin-right: 10px;
    background-color: transparent;
    color: white;
    border: transparent;
}

.btn-login{
    background-color: #133153;
}