<div class="bg-dark text-white py-2 text-center">
    <nav >
        <div class="container">
            <div class="row">
                <div class="row row-cols-3">
                    <div class="row row-cols-3 redes-header">
                        <div >
                            <img class="logo-redes-header" src="../assets/images/INSTA-LOGO.png">
                        </div>
                        <div >
                            <img class="logo-redes-header" src="../assets/images/TW-LOGO.png">
                        </div>
                        <div >
                            <img class="logo-redes-header" src="../assets/images/TWITCH-LOGO.png">
                        </div>
                    </div>

                    <div class="logo-position">
                        <img class="logo-header" src="../assets/images/LOGO-HACHA-BLANCO.png">
                    </div>
                    
                    <div class="row row-cols-3 menu-header">
                        <div>
                            <a>HOME</a>    
                        </div>
                        <div>
                            <a>TIENDA</a>    
                        </div>
                        <div>
                            <a>FIFA</a>    
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </nav>
</div>