<div class="bar-nav-social">
    <div class="container">
        <div class="row">

            <div class="col-sm-4">
                <div class="row">
                    <div class="col">
                        <p class="font-social">REDES SOCIALES:</p>
                    </div>
                    <div class="col margin-social">
                        <img class="logo-redes-header" src="../../../assets/images/TW-LOGO.png">
                    </div>
        
                    <div class="col margin-social">
                        <img class="logo-redes-header" src="../../../assets/images/TWITCH-LOGO.png">
                    </div>
        
                    <div class="col margin-social">
                        <img class="logo-redes-header" src="../../../assets/images/INSTA-LOGO.png">
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="row">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="row">
                    <div class="col">
                        <button class="btn-login">LOGIN</button>
                    </div>
                    <div class="col">
                        <button class="btn-login">REGISTRO</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="text-white py-2 text-center" style="background-image: url(../../../assets/images/fondo1.png)"> 
    <nav >
        <div class="container">
            <div class="row">

                <div class="col menu-header">
                    <div class="row">
                        <div class="col">
                            <button class="font-nav" routerLink="crear-torneo">CREAR TORNEO</button>
                        </div>
                        <div class="col">
                            <button class="font-nav">TORNEOS</button>    
                        </div>
                        <div class="col">
                            <button class="font-nav">MERCADO</button>    
                        </div>
                    </div>
                </div>
                
                <div class="col">
                    <img class="logo-header" src="../assets/images/web.png">
                </div>

                <div class="col menu-header">
                    <div class="row">
                        <div class="col">
                            <button class="font-nav">INICIO</button> 
                        </div>
                        <div class="col">
                            <button class="font-nav">MI PERFIL</button>     
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </nav>
</div>