img.logo-header{
    width: 130px;
    height: 100px;
}

img.logo-redes-header{
    margin-top: 40px;
    width: 30px;
    height: 30px;
    
}

.redes-header{
    padding-left: 100px;
    padding-right: 100px;
}

div.menu-header{
    position: absolute;
    margin-top: 40px;
    left: 50%;
}

div.logo-position{
    position: relative;
    top: 40%;
}

.fondo {
    opacity: 100%;
    /* background-color: rgb(83, 10, 10); */
    background-color: #133153;
}

.bar-nav-social{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: transparent;
}

.font-nav{
    font-size: 12px;
    margin-right: 10px;
}