<div class="bar-nav-social">

</div>

<div class="text-white py-2 text-center fondo">
    <nav >
        <div class="container">
            <div class="row">
                <div class="col redes-header">
                    <img class="logo-header" src="../assets/images/web.png">
                </div>
                
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h5 class="font-nav">INICIO</h5>
                        </div>
                        <div class="col">
                            <h5 class="font-nav">PRIMERA DIVISION</h5>    
                        </div>
                        <div class="col">
                            <h5 class="font-nav">MERCADO</h5>    
                        </div>
                        <div class="col">
                            <h5 class="font-nav">MI PERFIL</h5>    
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h5 class="font-nav">LOGIN</h5>
                        </div>
                        <div class="col">
                            <h5 class="font-nav">REGISTRO</h5>    
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </nav>
</div>